Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
.deps/
.dirstamp/
libtool
stamp-h*

build-aux/

out/

src/.libs/
src/config.h*
src/tw_lic_check

src/twineconsensustest
src/twineconsensustest.exe

tests/*.trs
tests/.libs/
tests/*.log
tests/tw_lic_check

tests/test_uint
tests/test_uint.exe

tests/test_hash
tests/test_hash.exe

tests/test_ed25519
tests/test_ed25519.exe

*.o
*.lo
*.la
*.a
*.dirstamp
