Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
.deps/
libtool
config.h
config.hin
stamp-h1

build-aux/

out/

src/.libs/

src/twineconsensustest
src/twineconsensustest.exe

*.o
*.lo
*.la
