Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
.deps/
libtool
stamp-h*

build-aux/

out/

src/.libs/
src/config.h*

src/twineconsensustest
src/twineconsensustest.exe

tests/*.trs
tests/.libs/
tests/*.log

tests/test_version_check
tests/test_version_check.exe

*.o
*.lo
*.la
